@use '../var';

.content-container {
    position: relative;
    flex: 1;
    // background-color: burlywood;
    width: 100%;
    // max-width: 1200px;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    // border-radius: var(--border-radius-base) var(--border-radius-base) 0px 0px;

    .header-content {
        position: sticky;
        top: 0;
        padding: 20px 20px;
        z-index: 100;
        pointer-events: none; // Все события проходят сквозь него на элементы, расположенные под ним.

        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 24px;

    }
}

.main-content {
    position: relative;
    flex: 1;
    padding: 20px 20px;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;

    &>p {
        color: var(--color-neutral-dark);
        background-color: #ffffff;
        padding: 12px var(--padding-horizontal-base);
        border-radius: var(--border-radius-base);
        border: 1px solid var(--color-divider);
        box-shadow: var(--shadow-soft);
    }

    .user-data {
        transition: opacity 0.2s ease-in;
        opacity: 0;
        visibility: hidden;
        // pointer-events: none;
        // display: none;
        position: absolute;
        color: var(--color-neutral-dark);
        background-color: #ffffff;
        padding: 12px var(--padding-horizontal-base);
        border-radius: var(--border-radius-base);
        box-shadow: var(--shadow-soft);
    }

    &:hover {
        &>p {
            cursor: pointer;
            position: relative;
            color: #fff;
            background-color: var(--color-primary);
            padding: 12px calc(var(--padding-horizontal-base) + 8px);
            z-index: 10;
        }

        &>.user-data {
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
            // display: block;
            margin-top: 40px;
        }
    }
}