@use '../var';

.control-panel-default {
    width: 100%;
    margin-bottom: 40px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
}

.control-panel-left {
    @extend .control-panel-default;
    justify-content: flex-start;
}