@use '../var';

.content-container {
    flex: 1;
    // background-color: burlywood;
    width: 100%;
    // max-width: 1200px;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    // border-radius: var(--border-radius-base) var(--border-radius-base) 0px 0px;

    .header-content {
        position: sticky;
        top: 0;
        padding: 20px 20px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
}

.main-content {
    flex: 1;
    padding: 20px 20px;
}