.main-menu {
    // background-color: aqua;
    box-shadow: var(--shadow-soft);
    border-radius: var(--border-radius-base);

    flex: 1;
    width: 100%;
    max-width: 250px;

    display: flex;
    flex-direction: column;
    gap: 20px;

    .header {
        /* border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
        padding: 20px 0px;

        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 4px;

        color: green;

        .icon-main {
            font-size: 44px;
            height: 44px;
            width: 44px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        p {
            font-size: 28px;
            font-weight: bold;
        }
    }

    .user-info {
        display: flex;
        flex-direction: column;
        align-items: center;

        .user-data {
            border-radius: var(--border-radius-base);
            padding: 12px 32px;

            display: flex;
            flex-direction: column;
            gap: 4px;
            background-color: #f9f9f9;

            &>p {
                font-size: var(--font-size-base);
                font-weight: 400;
                color: #757575;

                &>span {
                    font-weight: bold;
                }
            }
        }
    }

    .list-main-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;
    }

    .top-menu {
        flex: 1;
    }

    .bottom-menu {
        padding-bottom: 20px;
    }

    .item-main-menu {
        width: 100%;
        padding: 8px 24px;
        overflow: hidden;

        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;

        p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            box-sizing: border-box;

            font-size: var(--font-size-base);
            // font-weight: bold;
        }

        &:hover {
            cursor: pointer;
            background-color: lightgreen;
        }
    }

}