parameters:
    level: 8
    paths:
        - app
        - tests
    excludePaths:
        analyseAndScan:
            - tests/DbTest.php
            - app/libs/*
    ignoreErrors:
        - "#Return type .*User>.* of method .*LeadAccountManagerRepository::getEntityClass.*should be compatible with return type .*AccountManagerDto.*AccountManagerDto>::getEntityClass..#"
        - "#Property .*InvestmentService::.* is never read, only written.#"
