.lead-filter,
.user-filter {
    margin-bottom: 40px;

    display: flex;
    flex-direction: row !important;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;

    .form-group {
        label {
            font-size: 12px;
            color: var(--color-neutral-dark);
        }

        input {
            &::placeholder {
                font-size: 12px;
                color: var(--color-neutral-dark);
            }
        }
    }
}