@use './var';

// Общий стиль кнопки
.btn-default {
    padding: var(--padding-vertical-base) var(--padding-horizontal-base);
    font-size: var(--font-size-base);
    border-radius: var(--border-radius-base);
    cursor: pointer;
    border: 1px solid transparent;
}

.btn-panel {
    @extend .btn-default;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;

    i {
        font-size: 16px;
    }
}

.btn-icon {
    padding: 4px 8px;
    border-radius: var(--border-radius-base);
    cursor: pointer;

    i {
        transition: transform 0.15s;
        font-size: 16px;
        color: var(--color-neutral);
    }

    &:hover {
        i {
            transform: scale(1.7);
            color: var(--color-neutral-dark);
        }
    }

    &.button-active {
        &:hover {
            i {
                // transform: scale(2);
                color: var(--color-danger);
            }
        }
    }

    &.button-action {
        i {
            color: var(--color-primary);
        }

        &:hover {
            i {
                // transform: scale(1.2);
                color: var(--color-primary-dark);
            }
        }
    }
}

// Основная кнопка (заливка)
.button-primary {
    // @extend .button;
    background-color: var(--color-primary);
    color: #fff;

    &:hover {
        background-color: var(--color-primary-dark);
    }
}

// Кнопка-ссылка (только текст и обводка)
.button-inline {
    // @extend .button;
    background-color: transparent;
    color: var(--color-primary);
    border-color: var(--color-primary);

    &:hover {
        color: #fff;
        background-color: var(--color-primary);
    }
}

// Опасная кнопка
.button-danger {
    // @extend .button;
    background-color: var(--color-danger);
    color: #fff;

    &:hover {
        background-color: var(--color-danger-dark);
    }
}

// Серый вариант (например, отмена, нейтральные действия)
.button-secondary {
    // @extend .button;
    background-color: var(--color-divider);
    color: #333;

    &:hover {
        background-color: var(--color-divider-dark);
    }
}