@use './var';

.login-container {
    height: 100vh;
    width: 100%;
    background-color: #f5f5f5;

    display: flex;
    justify-content: center;
    align-items: center;

    & > .base-form {
        background-color: #fff;
        padding: 32px;
        border-radius: var(--border-radius-base);
        box-shadow: var(--shadow-soft);
        width: 100%;
        max-width: 480px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}