.icon-notification {
    width: auto;
    height: auto;
    padding: 12px;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: var(--shadow-soft);

    &:hover,
    &.active {
        cursor: pointer;

        & i {
            color: var(--color-primary);
        }
    }
}

.notification-container {
    position: absolute;
    right: 20px;
    top: 88px;
    max-width: 400px;
    height: 400px;
    display: flex;
    /* background: antiquewhite; */
    flex-direction: column;
    gap: 12px;
    z-index: 100;
}

// Общий стиль уведомлений
.notify {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-radius: var(--border-radius-base);
    font-size: var(--font-size-base);
    line-height: 1.4;
    word-break: break-word;
    min-width: 200px;
    max-width: 100%;
    box-shadow: var(--shadow-soft);

    opacity: 1;
    transition: opacity 2.0s ease-in;

    &.hidden, &.hide {
        opacity: 0;
    }
}

// Варианты состояний
.notify-info {
    background-color: var(--color-notify-info);
    color: var(--color-notify-info-text);
    border: 1px solid var(--color-notify-info-text);
}

.notify-success {
    background-color: var(--color-notify-success);
    color: var(--color-notify-success-text);
    border: 1px solid var(--color-notify-success-text);
}

.notify-danger {
    background-color: var(--color-notify-danger);
    color: var(--color-notify-danger-text);
    border: 1px solid var(--color-notify-danger-text);
}

// Кнопка закрытия
.notify-close {
    margin-left: 8px;
    color: inherit;
    font-size: 24px;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.2s;

    display: flex;
    align-items: flex-start;
    height: 100%;

    &:hover {
        opacity: 1;
    }

    i {
        pointer-events: none;
    }
}