$border-radius-base: 16px;

// Отступы
$padding-vertical-base: 8px; // стандартный отступ по вертикали (top / bottom)
$padding-horizontal-base: 16px; // стандартный отступ по горизонтали (left / right)

$margin-vertical-base: 8px; // стандартный внешний отступ по вертикали
$margin-horizontal-base: 16px; // стандартный внешний отступ по горизонтали

// Цвета
$color-background: #fbfdff; // Основной фон
$color-primary: #007bff; // Главный цвет
$color-primary-dark: #0056b3; // Тёмная версия главного цвета
$color-divider: #eee; // Цвет разделителей, фона header таблицы и т.п.
$color-divider-dark: #ccc; // Тёмная версия разделителей
$color-danger: #dc3545; // Цвет ошибок, предупреждений, критических элементов
$color-danger-dark: #a71d2a; // Тёмная версия danger
$color-neutral: #ccc; // Нейтральный цвет для иконок, меню, неактивных состояний
// $color-neutral-light: #dfdfdf; // Более светлый вариант (например, для второстепенного текста)
$color-neutral-dark: #acacac;

// Размеры текста 
$font-size-base: 14px; // Обычный текст (тело, меню)
$font-size-heading: 24px; // Главный заголовок
$font-size-subheading: 18px; // Вторичный заголовок или подзаголовок
$font-size-small: 12px; // Маленький текст (подписи, вспомогательные элементы)

// Цвета для уведомлений
$color-notify-info: #f5f5f5;
$color-notify-success: #e6f4ea;
$color-notify-danger: #fcebea;
$color-notify-info-text: #333333;
$color-notify-success-text: #2d5935;
$color-notify-danger-text: #842029;

$shadow-soft: 0 2px 10px rgba(0, 0, 0, 0.08);
$shadow-soft-left: -2px 0 10px rgba(0, 0, 0, 0.08); // Тень слева
$shadow-soft-right: 2px 0 10px rgba(0, 0, 0, 0.08); // Тень справа

// Примеси для линий
%line-bottom {
    border-bottom: 1px solid $color-divider;
}

%line-top {
    border-top: 1px solid $color-divider;
}

// CSS переменные
:root {
    --padding-vertical-base: #{$padding-vertical-base};
    --padding-horizontal-base: #{$padding-horizontal-base};
    --margin-vertical-base: #{$margin-vertical-base};
    --margin-horizontal-base: #{$margin-horizontal-base};

    --font-size-base: #{$font-size-base};
    --font-size-heading: #{$font-size-heading};
    --font-size-subheading: #{$font-size-subheading};

    --border-radius-base: #{$border-radius-base};
    --shadow-soft: #{$shadow-soft};
    --shadow-soft-left: #{$shadow-soft-left};
    --shadow-soft-right: #{$shadow-soft-right};
    --font-size-small: #{$font-size-small};

    --color-background: #{$color-background};
    --color-primary: #{$color-primary};
    --color-primary-dark: #{$color-primary-dark};
    --color-divider: #{$color-divider};
    --color-divider-dark: #{$color-divider-dark};
    --color-danger: #{$color-danger};
    --color-danger-dark: #{$color-danger-dark};
    --color-neutral: #{$color-neutral};
    --color-neutral-dark: #{$color-neutral-dark};

    --color-notify-info: #{$color-notify-info};
    --color-notify-success: #{$color-notify-success};
    --color-notify-danger: #{$color-notify-danger};
    --color-notify-info-text: #{$color-notify-info-text};
    --color-notify-success-text: #{$color-notify-success-text};
    --color-notify-danger-text: #{$color-notify-danger-text};
}


.icon-wrapper {
    font-size: 24px;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;

    i {
        color: var(--color-neutral);
    }

    // color: green;
}

.main-wrapper-horizontal {
    padding: 0px 20px;
}