@use '../var';

.content-area {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    align-items: start;
    gap: 20px;
    row-gap: 44px;

}

.component {
    // max-width: 450px;
    overflow: hidden;
    padding: 24px;
    background-color: #fff;
    border-radius: var(--border-radius-base);
    box-shadow: var(--shadow-soft);

    &--min {
        grid-column: span 2;
        max-width: 200px;
    }

    &--medium {
        grid-column: span 3;
        max-width: 400px;
    }

    &--full {
        grid-column: 1 / -1;
    }
}