@use '../var';

%component {
    // max-width: 450px;
    overflow: hidden;
    padding: 24px;
    background-color: #fff;
    border-radius: var(--border-radius-base);
    box-shadow: var(--shadow-soft);
}

.content-area {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    align-items: start;
    gap: 20px;
    row-gap: 44px;

}

.component-wrapper-line {
    grid-column: 1 / -1;

    display: flex;
    justify-content: center;
}

.component {
    @extend %component;

    &--min {
        grid-column: span 2;
        max-width: 200px;
    }

    &--medium {
        grid-column: span 3;
        max-width: 400px;
        min-width: 300px;
        width: 400px;
    }

    &--full {
        grid-column: 1 / -1;
        width: 100%;
    }
}